@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Press+Start+2P&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    min-height: 100vh;
}

/* HEADER */
.header {
    background-color: #5300C8;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* MAIN */

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 40px 60px;
    flex: 1;
}

/* LISTA DE PRODUTOS */
.product-list {
    width: 50%;
    max-height: 550px; /* Ajuste conforme necessário */
    overflow-y: auto; /* Adiciona scroll vertical */
    border: 2px solid #5300C8; /* Opcional: borda para visualizar o contêiner */
    border-radius: 8px; /* Opcional: arredondar os cantos */
    padding: 10px; /* Opcional: espaçamento interno */
}

.product-list h2,
.product-form h2 {
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}


.product {
    background-color: #5D04D9;
    color: #FFFFFF;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 200px;
    height: 260px;
}

.product img {
    width: auto;
    height: auto;
    max-width: 175px;
    max-height: 175px;
    object-fit: contain;
    border-radius: 5px;
    border: 2px solid #000;
}

.product h3 {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

.product .price {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: lighter;
}

.product h3,
p {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
}

.delete-btn {
    background: none;
    border: none;
    position: absolute;
    bottom: 7px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 15%;
}

.delete-btn img {
    border: none;
}

/* Formulário de produtos */
.product-form {
    width: 480px;
    height: 320px;
    text-align: left;
    margin: 20px;
    margin-top: 50px;
}

.product-form h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.product-form input {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #03318C;
    border-radius: 20px;
    font-family: 'IBM Plex Mono', monospace;
    color: #03318C;
}

.product-form input::placeholder {
    font-weight: bold;
    color: #03318C;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.save-btn,
.clear-btn {
    width: 48%;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.save-btn {
    background-color: #03318C;
    color: #FFF;
    border: none;
    transition: background-color 0.3s;
}

.clear-btn {
    background-color: #FFF;
    color: #03318C;
    border: 2px solid #03318C;
    transition: background-color 0.3s;
}

.save-btn:hover {
    background-color: #39004d;
}

.clear-btn:hover {
    background-color: #E8E8E8;
}

/* Sombra ao redor do formulário */
.product-form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.footer {
    width: 100%;
    position: fixed;
    background-color: #5300C8;
    color: #fff;
    text-align: center;
    padding: 64px;
    margin-top: 20px;
    padding: 20px; /* Use padding em vez de height */
    bottom: 0;
}

.footer p {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
}

.footer a {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
}